.msg_creche {
    background-color: #5ECADB !important;
}

.msg_famille {
    background-color: #A4D8BD !important;
}


/* Pointage (accueil) */
.children_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px 10px;
}

.child {
    width: 300px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    border: 1px solid black;
    border-radius: 10px;
}

.child__infos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.child__infos_photo {
    width: auto;
    height: 100px;
    margin: 0 auto;
}

.child__infos_photo .fa {
    font-size: 2.5em;
    line-height: 100px;
}

.child__infos_name {
    margin: auto;
    text-align: center;
}

.child__infos_name_alert {
    display: flex;
    flex-direction: row;
}

.child_alert {
    width: 7px;
    height:7px;
    border: #e55e67 1px solid;
    border-radius: 50%;
    background-color: #e55e67;
    margin-right: 5px;
}

.child_events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.btn_repas {
    background: #CBCD02 !important;
}

.btn_sieste {
    background: #64C4D8 !important;
}

.btn_couche {
    background: #594031 !important;
}

.btn_autre {
    background: #3FB7AB !important;
}

.btn_disable {
    pointer-events: none;
    color: #999 !important;
    background: none !important;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    padding: 8px 15px;
    min-width: 90px;
    text-align: center;
}


/* Infos médicales */
#weightForm, #doctorForm, #allergyForm, #uploadContrat {
    display: none;
}


/* Contrats */
.notLinked td {
    color: #e55e67;
}

.contratTable {
    table-layout: fixed;
}

.contratTable .contratLabel {
    word-wrap: break-word;
}  

#pdfFile {
    width: 100px;
}

#pdfFile::file-selector-button {
    display: none;
}


/* Bouton désactivé */
.btnAddPlusDisabled {
    pointer-events: none !important;
}

.btnAddPlusDisabled span {
    filter: invert(50%);
}

.butActionRefused {
    pointer-events: none;
}


.addFormTable {
    padding: 8px;
}

.textBold {
    font-weight: bold;
    opacity: 0.6;
}

.centerText {
    text-align: center;
}

.btn_update {
    background: rgb(150, 110, 162, 0.95) !important;
    color: white !important;
    border-color: rgb(150, 110, 162, 0.95) !important;
    border-radius: 2px !important;
}